/*----------------------------------------------------------------------------*/
/*                              RESET & DEFAULTS                              */
/*----------------------------------------------------------------------------*/


/**/
/* root */
/**/
:root{
    --body-bg: #ffffff;
    --body-color: #222;


    --topbar-bg: repeating-linear-gradient(to right, #2362C8 0%, #3578E5 50%, #2362C8 100%);;
    --topbar-color: #ffffff;
    --topbar-height: 46px;

    --navigation-width: 64px;
    --navigation-width-max:220px;
    --navigation-bg: #ebebeb;
    --navigation-color: #888888;
    --navigation-color-hover: #2362C8;
}


/**/
/* reset */
/**/
html, body, #doc, #page-container, #page-error{
    height: 100%
}

label{margin: 0}
h1, h2, h3, h4, h5, h6, p{display:block;margin:0;padding:0;border:0;font-weight:400}
dl, dt, dd, ul, ol, li{list-style:none;display:block;margin:0;padding:0;border:0;background:none;outline:none}
img{outline:none;border:none}

form, input, select, textarea, button {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: 0;
}

/**/
/* pics */
/**/
.pic{position:relative;height:0;width:100%;overflow:hidden;background-color:#dcdcdc;padding-top:56.25%;display:block}
.pic img{position:absolute;display:block;left:0;right:0;top:0;bottom:0;height:100%;width:100%}
.pic.squared{padding-top:100%}
.pic.squared img{width:auto;right:auto;left:50%;transform:translateX(-50%)}
.pic>svg.bd-placeholder-img{position:absolute;top:0;left:0;width:100%;height:100%;font-size:1rem;text-anchor:middle}


/**/
/* layout__box */
/**/
.layout__box {
    flex: 0 0 auto;
    min-width: 0;
    min-height: 0;
}
.layout__box.o__scrolls {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.layout__box.o__flexes-to-1 {
    flex: 1 1 auto;
}
.layout__box.o__has-rows {
    display: flex;
    flex-direction: column;
}
.layout__media {
    display: flex;
    align-items: flex-start;
}
.layout__media.o__center {
    align-items: center;
}
.layout__box.o__centers-all{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.u__centered-text-block {
    text-align: center!important;
    display: block!important;
}
.illustrative-icon, .illustrative-icon svg {
    width: 40px;
    height: 40px;
}


/**/
/* dropdown */
/**/
.dropdown-menu{padding:5px 0;border:1px solid rgba(0,0,0,.15);border-radius:3px;box-shadow:0 3px 8px rgba(0,0,0,.3)}
.dropdown-item{line-height:22px;padding:0 12px}
.dropdown-item.hover, .dropdown-item:hover{color:#fff;text-decoration:none;background-color:#007bff}
.dropdown-pointer:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    display: inline-block;
    top: 0;
    left: 10px;
    margin-top: -11px;
    border-color: #fff transparent;
    border-style: solid;
    border-width: 0 12px 12px 12px;
}
.dropdown-menu-right.dropdown-pointer:before {
    left: auto;
    right: 10px;
}

/*----------------------------------------------------------------------------*/
/*                                   LAYOUT                                   */
/*----------------------------------------------------------------------------*/
body{
    font-size: 16px;
    font-weight: 300;

    overflow-y: scroll;
    background-color: var(--body-bg);
    color: var(--body-color);
}

/**/
/* page topbar */
/**/
.page-topbar{
    background: var(--topbar-bg);
    color: var(--topbar-color);

    height: var(--topbar-height);
    z-index: 300;
    padding-left: var(--navigation-width);
}

/**/
/* page navigation */
/**/
.page-navigation{
    background-color: var(--navigation-bg);
    color: var(--navigation-color);
    width: var(--navigation-width);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 200;
    // box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    transition: width .2s ease-in;
}

.page-navigation-header{
    height: var(--topbar-height);
}


.page-main{
    transition: margin-left 0.2s ease-in;
    margin-left: var(--navigation-width);
}



.page-navigation-sidenav .nav-link{
    color: var(--navigation-color);
    display: flex;
    width: 100%;
    padding: 16px 12px;
    transition: padding 0.2s ease-in;
}
.page-navigation-sidenav .nav-link:hover, .page-navigation-sidenav .nav-link.active{
    color: var(--navigation-color-hover);
}
.page-navigation-sidenav .nav-link svg{
    fill: currentColor;
}
.page-navigation-sidenav .nav-link:hover{
    color: var(--navigation-color);
}

.page-navigation-sidenav .nav-link-icon{
    width: 44px;
    display: block;
    text-align: center
}
.page-navigation-sidenav .nav-link-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: -webkit-calc(100% - 44px);
    width: calc(100% - 44px);
    display: block;
    line-height: 32px;

display: none;
opacity: 0;
    -webkit-transition: opacity .4s cubic-bezier(.4,0,.2,1);
    transition: opacity .4s cubic-bezier(.4,0,.2,1);

}
.page-navigation-trigger{
    margin: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 350;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background: none;
    outline: none !important;
    width: 26px;
    height: 26px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    padding: 0;
}

.page-navigation-trigger>span {
    display: block;
    position: relative;
    height: 2px;
    min-height: 2px;
    width: 100%;
    border-radius: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.page-navigation-trigger>span, .page-navigation-trigger>span::before, .page-navigation-trigger>span::after {
    background: var(--topbar-color, #000);
}

.page-navigation-trigger>span::before, .page-navigation-trigger>span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    min-height: 2px;
    content: "";
    border-radius: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    right: auto;
}
.page-navigation-trigger>span::before {
    top: -8px;
    width: 50%;
}
.page-navigation-trigger>span::after {
    bottom: -8px;
    width: 75%;
}

.page-navigation-trigger:hover>span:before,
.page-navigation-trigger:hover>span::after{
    width: 100%;
}


body.is-pushed-left .page-navigation{
    width: var(--navigation-width-max)
}
body.is-pushed-left .page-main{
    margin-left: var(--navigation-width-max)
}
body.is-pushed-left .page-navigation .page-navigation-sidenav .nav-link{
padding-top: 8px;
padding-bottom: 8px;


}

body.is-pushed-left .page-navigation-sidenav .nav-link-text{
    display: block;
    opacity: 1;
}
